@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #131313;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  width: 95%;
  height: 95%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  overflow-x: hidden;
}

header .menu_side,
.song_side {
  position: relative;
  width: 25%;
  height: 90%;
  color: #fff;
  box-shadow: 5px 0px 2px #090f1f;
}

header .song_side {
  width: 75%;
  background-color: #0b1320;
}

header .master_play {
  width: 100%;
  height: 10%;
  background: #111727;
  box-shadow: 0px 3px 8px #090f1f;
}
header .menu_side .head h1 {
  font-size: 20px;
  margin: 15px 0px 0px 20px;
  font-weight: 500;
}
header .menu_side .Playlist {
  margin: 40px 0px 0px 20px;
}

header .menu_side .Playlist h4 {
  display: flex;
  align-items: center;
  font-weight: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  color: #4c5363;
  cursor: pointer;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
header .menu_side .Playlist h4:hover {
  color: white;
}

header .menu_side .Playlist span {
  position: relative;
  margin-right: 35px;
}
header .menu_side .Playlist span::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border: 2px solid #4c5363;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
header .menu_side .Playlist h4:hover span::before {
  border: 2px solid white;
}
header .menu_side .Playlist h4 i {
  display: none;
}
header .menu_side .Playlist .active {
  color: turquoise;
}

header .menu_side .Playlist .active span {
  display: none;
}
header .menu_side .Playlist .active i {
  display: flex;
  margin-right: 20px;
}
header .menu_side .menu_song {
  width: 100%;
  height: 300px;
  overflow-y: auto;
  overflow-wrap: anywhere;
  margin-top: 40px;
  padding: 0px 20px;
}
header .menu_side .menu_song::-webkit-scrollbar {
  display: none;
}

/* Menu list */

header .menu_song li {
  cursor: pointer;
  transition: 0.3s linear;
  position: relative;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 8px 0px 8px 20px;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
header .menu_song li:hover {
  /* color: white; */
  background-color: rgb(105, 105, 170, 0.1);
}
header .menu_song li:hover span {
  color: white;
}

header .menu_side .menu_song li span {
  font-size: 12px;
  font-weight: 600;
  color: #4c5363;
}
header .menu_side .menu_song li img {
  width: 32px;
  height: 32px;
  margin-left: 25px;
}

header .menu_side .menu_song li h5 {
  font-size: 11px;
  margin-left: 15px;
}
header .menu_side .menu_song li h5 .subtitle {
  font-size: 9px;
  color: #4c5363;
}
header .menu_side .menu_song li i {
  position: absolute;
  right: 26px;
  top: 9px;
  font-size: 20px;
}

header .master_play {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

header .master_play .wave {
  width: 30px;
  height: 30px;
  display: flex;
  margin-right: 10px;
  align-items: flex-end;
  padding-bottom: 5px;
}
header .master_play .wave .wave1 {
  width: 3px;
  height: 10px;
  margin-right: 3px;
  animation: unset;
  border-radius: 10px 10px 0px 0px;
  background-color: aqua;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  -webkit-animation: unset;
}
header .master_play .wave .wave1:nth-child(2) {
  height: 13px;
  /* animation-delay: 0.4s; */
}
header .master_play .wave .wave1:nth-child(3) {
  height: 9px;
  /* animation-delay: 0.8s; */
}
header .master_play .wave .wave1:nth-child(4) {
  height: 8px;
  /* animation-delay: 0.8s; */
}
header .master_play .wave .wave1:nth-child(5) {
  height: 13px;
  /* animation-delay: 0.8s; */
}

/* javascript wave is using   */
header .master_play .active2 .wave1 {
  animation: wave 0.4s linear infinite;
}
header .master_play .active2 .wave1:nth-child(2) {
  animation-delay: 0.4s;
}
header .master_play .active2 .wave1:nth-child(3) {
  animation-delay: 0.8s;
}
header .master_play .active2 .wave1:nth-child(4) {
  animation-delay: 0.8s;
}
header .master_play .active2 .wave1:nth-child(5) {
  animation-delay: 0.8s;
}
header .master_play .active2 .wave1:nth-child(1) {
  animation-delay: 0.8s;
}
@keyframes wave {
  0% {
    height: 10px;
  }
  50% {
    height: 15px;
  }
  100% {
    height: 10px;
  }
}

/* img */
header .master_play img {
  width: 35px;
  height: 35px;
}
header .master_play h5 {
  width: 130px;
  font-size: 13px;
  margin-left: 15px;
  color: #fff;
  line-height: 15px;
}
header .master_play h5 .subtitle {
  font-size: 11px;
  color: #4c5363;
}
header .master_play .icons {
  font-size: 20px;
  color: #fff;
}
header .master_play .icons i {
  cursor: pointer;
  outline: none;
}
header .master_play .icons i:nth-child(2) {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 7px 8px 5px 10px;
  margin: 0px 5px;
}

header .master_play span {
  color: #fff;
  width: 32px;
  font-size: 13px;
  font-weight: 400;
}

header .master_play #currentStart {
  margin: 0px 0px 0px 20px;
}

header .master_play .bar {
  position: relative;
  width: 43%;
  height: 2px;
  background: #4c5363;
  margin: 0px 15px 0px 15px;
}

header .master_play .bar .bar2 {
  position: absolute;
  background: #36e2ec;
  width: 20%;
  border: 2px solid #36e2ec;
  height: 100%;
  top: 0;
  transition: 1s linear;
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -ms-transition: 1s linear;
  -o-transition: 1s linear;
}
header .master_play .bar .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #36e2ec;
  border-radius: 50%;
  left: 0px;
  top: -1.5px;
  transition: 1s linear;
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -ms-transition: 1s linear;
  -o-transition: 1s linear;
}
header .master_play .bar .dot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #36e2ec;
  border-radius: 50%;

  top: -6.5px;
  left: -6.5px;
  box-shadow: inset 0px 0px 3px #fff;
}
header .master_play .bar input {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
  top: -0.5px;
  left: -6.5px;
  cursor: pointer;
  opacity: 0;
  box-shadow: inset 0px 0px 3px #36e2ec;
  -webkit-box-shadow: inset 0px 0px 3px #fff;
  -moz-box-shadow: inset 0px 0px 3px #fff;
  -ms-box-shadow: inset 0px 0px 3px #fff;
  -o-box-shadow: inset 0px 0px 3px #fff;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

header .master_play #currentEnd {
  margin: 0px 15px 0px 0px;
}

header .master_play .vol {
  position: relative;
  color: white;
}

header .master_play .vol i {
  cursor: pointer;
}

header .master_play .vol input {
  position: absolute;
  margin: 0px 0px 0px 20px;
  width: 50px;

  height: 1px;
  top: 11px;
  left: 100 !important;
  cursor: pointer;
}

header .master_play .vol .vol_bar {
  position: absolute;
  background: #36e2ec;
  width: 100%;
  left: 32px;
  transition: 1s linear;
  height: 2px;
  top: 10px;
  transition: 1s linear;
  -webkit-transition: 1;
  -moz-transition: 1;
  -ms-transition: 1;
  -o-transition: 1;
}
header .master_play .vol .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #36e2ec;
  border-radius: 50%;
  left: 18.5px;
  top: -1.5px;
  transition: 1s linear;
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -ms-transition: 1s linear;
  -o-transition: 1s linear;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
header .master_play .vol .dot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #36e2ec;
  border-radius: 50%;
  top: 3.5px;
  left: 31px;
  box-shadow: inset 0px 0px 3px #fff;
}

header .master_play .vol_bar .dot {
  position: absolute;
  background: #36e2ec;
  width: 20%;
  height: 100%;
  top: 0;
  transition: 1s linear;
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -ms-transition: 1s linear;
  -o-transition: 1s linear;
}

/* gain vol song better */

header .master_play .vol .bar2 {
  position: absolute;
  background: #36e2ec;
  width: 20%;
  border: 2px solid #36e2ec;
  height: 100%;
  top: 0;

  transition: 1s linear;
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -ms-transition: 1s linear;
  -o-transition: 1s linear;
}
header .master_play .vol .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #36e2ec;
  border-radius: 50%;
  left: 18.5px;
  top: -1.5px;
  transition: 1s linear;
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -ms-transition: 1s linear;
  -o-transition: 1s linear;
}
header .master_play .vol .dot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #36e2ec;
  border-radius: 50%;
  top: 3.5px;
  left: 8.5px;
  box-shadow: inset 0px 0px 3px #fff;
}
header .master_play .vol input {
  position: absolute;
  border: 2px solid #36e2ec;
  margin: 0px 0px 0px 20px;
  z-index: 99;
  width: 70px;
  height: 10px;
  left: 9px;
  cursor: pointer;
  border-radius: 50%;
  top: 6px;
  /* left: 100 !import; */
  cursor: pointer;
  opacity: 0;
  box-shadow: inset 0px 0px 3px #36e2ec;
  -webkit-box-shadow: inset 0px 0px 3px #fff;
  -moz-box-shadow: inset 0px 0px 3px #fff;
  -ms-box-shadow: inset 0px 0px 3px #fff;
  -o-box-shadow: inset 0px 0px 3px #fff;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*  song-side  */

header .song_side {
  z-index: 2;
}

header .song_side nav {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
header .song_side nav ul {
  display: flex;
}
header .song_side nav ul li {
  position: relative;
  list-style: none;
  font-size: 13px;
  color: #4c5363;
  margin-right: 25px;
  cursor: pointer;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

header .song_side nav ul li:nth-child(1) {
  color: #fff;
}
header .song_side nav ul li span {
  position: absolute;
  width: 100%;
  border-radius: 20px;
  bottom: -5px;
  left: 0px;
  height: 2px;
  background-color: aqua;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
header .song_side nav ul li:hover {
  background-color: #4c5363;
  color: #36e2ec;
}

header .song_side nav .search {
  position: relative;
  width: 50%;
  height: 50%;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
header .song_side nav .search::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background: rgb(105, 105, 170, 0.1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
header .song_side nav .search input {
  border: none;
  padding: 12px;
  background: none;
  margin: 10px 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0px 10px;
  color: white;
}
header .song_side nav .search .fa-search {
  margin: 2px;
  color: rgb(105, 105, 170);
  font-size: 15px;
  /* padding: 3px 5px; */
  cursor: pointer;
}

header .song_side nav .user {
  position: relative;
  width: 30px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

header .song_side nav .user img {
  position: absolute;
  height: 35px;
  width: 35px;
  box-shadow: 2px 2px 8px #090f1f;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-border-radius: 50%;
}

/* song list */
header .song_side::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 300px;
  background: url("arjit_bg.png") no-repeat center;
  background-size: cover;
  /* filter: blur(10px); */
  z-index: -1;
}
header .song_side .content {
  width: 90%;
  height: 30%;
  margin: auto;
  padding-top: 20px;
  overflow: hidden;
}
header .song_side .content p {
  font-size: 11px;
  font-weight: 400;
  color: #4c5363;
  margin: 5px;
}
header .song_side .content h1 {
  font-size: 25px;
  font-weight: 500;
}
header .song_side .content .btn {
  margin: 15px;
}
header .song_side .content .btn #Follow {
  width: 100%;
  height: 100%;
}

header .song_side .content .btn button {
  margin-right: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  border-radius: 10px;
  width: 150px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s linear;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
header .song_side .content .btn button:hover {
  background-color: #4c5363;
  color: #36e2ec;
}
header .song_side .content .btn button:nth-child(1) {
  background-color: #36e2ec;
  color: #fff;
}
header .song_side .content .btn button:nth-child(1):hover {
  background-color: #4c5363;
  color: #36e2ec;
}
header .song_side .content .btn button:nth-child(2):hover {
  background-color: #4c5363;
  color: #36e2ec;
}

/* popular song */
header .song_side .popular_song {
  width: 90%;
  height: auto;
  margin-top: 20px;
  margin: auto;
  overflow: hidden;
}
header .song_side .popular_song .h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .song_side .popular_song .h4 h4 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
header .song_side .popular_song .h4 i {
  color: #4c5363;
  font-size: 20px;
  margin: 10px;
  padding: 2px;
  border-radius: 50%;
  transition: 0.3s linear;
  background: #36e2ec;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
header .song_side .popular_song .h4 i:hover {
  background: #4c5363;
  color: #36e2ec;
}
header .song_side .popular_song .pop_song {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  margin-top: 15px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: space-between;
  margin-top: 20px;
}
header .song_side .popular_song .pop_song::-webkit-scrollbar {
  display: none;
}

header .song_side .popular_song .pop_song li {
  min-width: 100px;
  height: 140px;
  list-style-type: none;
  margin-right: 10px;
  transition: 0.3s linear;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

header .song_side .popular_song .pop_song li:hover {
  background-color: #4c5363;
  color: #36e2ec;
  border-radius: 10px;
}
/* card image */
header .song_side .popular_song .pop_song li .img_play {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .song_side .popular_song .pop_song li .img_play img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;
}
header .song_side .popular_song .pop_song li .img_play i {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  display: none;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
header .song_side .popular_song .pop_song li:hover .img_play i {
  display: flex;
  font-size: larger;
  justify-content: center;
  align-items: center;
  color: aqua;
}

header .song_side .popular_song .pop_song li h5 {
  font-size: 12px;
  line-height: 10px;
  font-weight: 400;
  padding: 5px 0px 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  color: #fff;
}
header .song_side .popular_song .pop_song li h5 .subtitle {
  font-size: 9px;
  color: #4c5363;
}

header .song_side .popular_song .pop_song li:hover h5 .subtitle {
  font-size: 9px;
  color: white;
}

/* popular song */
header .song_side .popular_artist {
  width: 90%;
  height: auto;
  margin-top: 20px;
  margin: auto;
  overflow: hidden;
}
header .song_side .popular_artist .h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .song_side .popular_artist .h4 h4 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
header .song_side .popular_artist .h4 i {
  color: #4c5363;
  font-size: 20px;
  margin: 10px;
  padding: 2px;
  border-radius: 50%;
  transition: 0.3s linear;
  background: #36e2ec;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
header .song_side .popular_artist .h4 i:hover {
  background: #4c5363;
  color: #36e2ec;
}

header .song_side .popular_artist .item {
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  justify-content: space-between;
}
header .song_side .popular_artist .item li {
  list-style-type: none;
  cursor: pointer;
  position: relative;
  min-width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}

header .song_side .popular_artist .item::-webkit-scrollbar {
  display: none;
}

header .song_side .popular_artist .item li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.song_side nav ul .menu_bar {
  display: none;
}

@media screen and (max-width: 850px) {
  header .menu_side {
    height: auto;
    width: 90vw !important;
    max-width: 470px;
  }
  header .menu_side .head h1 {
    margin-left: 120px;
  }
  header .menu_side .Playlist {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 30%;
  }

  header .menu_side .menu_song li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0px;
  }
  header .menu_side .Playlist {
    width: 80%;
  }
  header .menu_song {
    overflow-y: auto;
    height: 500px;
  }
  header .menu_side .songItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .menu_side .menu_song li {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin: 10px 0px;
    align-items: center;
  }

  header .menu_side .Playlist span::before {
    display: none;
    list-style-type: none;
  }

  .menu_side {
    position: absolute;
    width: 200px;
    height: 100vh;
    cursor: pointer;
    /* display: none; */
  }
  header .menu_side .song_side {
    width: 100%;
  }
  header .song_side .content h2 {
    display: flex;
    justify-content: center;
  }
  header .song_side .content .btn {
    display: flex;
    justify-content: center;
  }

  header .song_side::before {
    background: none;
  }
  header .song_side nav .search {
    display: none;
  }
  .master_play span {
    display: none;
  }
  .master_play {
    min-width: 80%;
  }
  .master_play .bar {
    display: none;
  }
  .master_play .vol {
    margin-left: 20px;
  }
  .master_play .vol input,
  .master_play .vol .vol_bar,
  .master_play .vol .dot {
    display: none;
  }
  .song_side nav ul {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .menu_side,
  .song_side {
    width: 100%;
  }
  header .song_side {
    width: 100%;
  }
  .song_side nav ul .menu_bar {
    display: block;
    padding: 10px;
    height: 10px;
  }
}
